* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fefbf6;
  font-family: verdana;
}

.container {
  margin: auto;
  height: 101vh;
}

.header {
  display: flex;
  flex-direction: column;
  background-color: #827397;
  padding: 10px 0;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.logo {
  font-size: 30px;
  font-weight: 400px;
  color: #3f2305;
}

.nav-items {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.nav-item {
  padding-right: 20px;
  text-decoration: none;
}

.section-main {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.hero-image {
  width: 900px;
  height: 800px;
}

.login-card {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  background-color: aqua;
  width: 400px;
  height: 400px;
  margin: 100px 190px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
a {
  text-decoration: none;
}
