asgiref==3.6.0
toolbox @ git+https://github.com/techswarn/toolbox
pythonutils @ git+https://techswarn:SuCC12@githubeSS@github.com/techswarn/pythonutils.git
beautifulsoup4==4.11.1
bs4==0.0.1
distlib==0.3.6
dj-database-url==1.2.0
Django==4.1.4
django-environ==0.9.0
dnspython==2.2.1
filelock==3.8.0
gunicorn==20.1.0
loader==2017.9.11
platformdirs==2.5.2
psycopg2-binary==2.9.5
soupsieve==2.3.2.post1
sqlparse==0.4.3
srvlookup==3.0.0
virtualenv==20.16.4
whitenoise==6.2.0
astroid==2.9.3
autopep8==1.5.5
certifi==2021.10.8
charset-normalizer==2.0.11
django-heroku==0.3.1
django-user-visit==0.5.1
flake8==3.8.4
gunicorn==20.1.0
idna==3.3
isort==5.10.1
jedi==0.17.2
lazy-object-proxy==1.7.1
mccabe==0.6.1
parso==0.7.1
Pillow==9.3.0
pluggy==1.0.0
psycopg==3.0.8
psycopg2==2.9.5
pycodestyle==2.6.0
pydocstyle==6.1.1
pyflakes==2.2.0
pylint==2.12.2
python-jsonrpc-server==0.4.0
python-language-server==0.36.2
python-osc==1.8.0
requests==2.27.1
rope==0.22.0
six==1.16.0
snowballstemmer==2.2.0
toml==0.10.2
ua-parser==0.10.0
ujson==5.6.0
urllib3==1.26.8
user-agents==2.2.0
wrapt==1.13.3
yapf==0.32.0
