asgiref==3.6.0
beautifulsoup4==4.11.1
bs4==0.0.1
distlib==0.3.6
dj-database-url==1.2.0
Django==4.1.4
django-environ==0.9.0
dnspython==2.2.1
filelock==3.8.0
gunicorn==20.1.0
loader==2017.9.11
platformdirs==2.5.2
psycopg2-binary==2.9.5
soupsieve==2.3.2.post1
sqlparse==0.4.3
srvlookup==3.0.0
virtualenv==20.16.4
whitenoise==6.2.0
